<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/resources/styles/index.css">
    <title>Página Inicial | Proffe's</title>
</head>
<body>
    <header>
        <a href="index">Proffe's</a>
    </header>
    <main>
        <section class="content">
            <div class="left-content">
                <img src="/resources/images/people studing.jpg" alt="bla">
            </div>
        </section>
        <section class="content">
            <div class="right-content">
                <p>Buscamos conectar pessoas.</p>
            </div>
            <div class='link-area'>
                <a href="/register" class="link">Quero dar aulas!</a>
                <a href="/search" class="link">Quero estudar!</a>
            </div>
        </section>
    </main>
    <footer>
        <p>
            Plataforma Proffe's - Todos os direitos reservados.
        </p>
    </footer>
    <!--<script src = "/assets/resources/scripts/index.js"></script>-->
</body>
</html>